.cabine-swiper {
  height: 500px;
}
.cabine-swiper > .swiper-wrapper {
  height: 500px;
}

.cabine-swiper > .swiper-slide {
  width: 100%;
  height: 500px;
}

.cabine-swiper > .swiper-slide > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin: 0;
}
