.bannerSwipe {
  width: 50%;
  height: max-content;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerSwipe > img {
  width: 400px;
  height: auto;
  object-fit: cover;
}
.SwiperChemical {
  width: 90%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

