.navlist {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: max-content;
}

.navlist li {
  padding: 8px;
  position: relative;
  margin: 10px 0;
  font-family: "Inter";
}

.navlist ul {
  z-index: 10;
  /* Hidden by default */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Absolute position */
  left: 0;
  position: absolute;
  top: 100%;

  /* Reset styles */
  list-style-type: none;
  margin: 0 0px 0 -70px;
  padding: 20px 0;

  /* Width */
  width: 250px;
  background-color: #fff;
}

.navlist ul ul {
  left: 100%;
  position: absolute;
  top: 0;
  transition: 0.4s ease-in-out;
}

.navlist li:hover > ul {
  display: flex;
  transition: 0.4s ease-in-out;
}

.submenuitem {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: 'Inter';
  font-size: 1rem;
  width: 200px;
  margin: 10px 0;
}

.submenuitem:hover{ 
  color: #1e547e;
}

.nestedSubMenu{
  background-color: transparent;
  outline: none;
  border: none;
  font-family: 'Inter';
  font-size: 1rem;
  width: 200px;
  cursor: pointer;
}

.lastLevel{ 
  z-index: 10;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0%;
  position: absolute;
  top: 100%;
  list-style-type: none;
  margin: 0 0px 0 -70px;
  padding: 20px 0;
  width: 180px;
  background-color: #fff;
}

.nestedSubMenu:hover > .lastLevel {
  display: flex;
  left: 120%;
}

.lastLevel li{ 
  margin: 10px 0;
  cursor: pointer;
}

.lastLevel li:hover{ 
  color: #1e547e;
}

.link{
  text-decoration: none;
  outline: none;
  color: black;
  font-family: 'Inter';
}