#cabineStd {
  height: 500px;
}
#cabineStd > .swiper-wrapper {
  height: 500px;
}

#cabineStd > .swiper-slide {
  width: 100%;
  height: 500px;
}

#cabineStd > .swiper-slide > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  #cabineStd {
    height: fit-content;
  }
  #cabineStd > .swiper-wrapper {
    height: fit-content;
  }

  #cabineStd > .swiper-slide {
    width: 100%;
    height: 330px;
  }

  #cabineStd > .swiper-slide > img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    margin: 0;
  }
}
