.navlist {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: max-content;
}

.navlist li {
  width: 135px;
  cursor: pointer;
  padding: 8px;
  position: relative;
  margin: 10px 0;
  font-family: "Inter";
  align-items: center;
  text-align: center;
}

@media only screen and  (max-width: 1200px) {
  .navlist li ul{
    left: -35px;
  }
}

.navlist ul {
  z-index: 10;
  /* Hidden by default */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Absolute position */
  left: -20px;
  position: absolute;
  top: 100%;

  /* Reset styles */
  list-style-type: none;
  margin: 0 0px 0 -70px;
  padding: 10px 0;

  /* Width */
  width: 220px;
  background-color: #fff;
  
}

.navlist ul ul {
  left: 100%;
  position: absolute;
  top: 0;
  transition: 0.4s ease-in-out;
}

.navlist li ul li {
  width: 200px;
  height: fit-content;
  background-color: transparent;
  color: #515151;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  transition: cubic-bezier(0.88, 0.15, 0.49, 1.05) 300ms;
  text-decoration: none;
  border: none;
  text-decoration-line: none;
  cursor: pointer;
}

.navlist li ul li:hover{ 
  color: #1e547e;
  transition: cubic-bezier(0.88, 0.15, 0.49, 1.05) 300ms;
  font-weight: 700;
  font-size: 1.2rem;
  width: 220px;
}

.navlist li:hover > ul {
  display: flex;
  transition: 0.4s ease-in-out;
}

.submenuitem {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: "Inter";
  font-size: 1rem;
  width: 200px;
  margin: 10px 0;
}

.submenuitem:hover {
  color: #1e547e;
}

.nestedSubMenu {
  width: 200px;
  height: fit-content;
  background-color: transparent;
  color: #515151;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  transition: cubic-bezier(0.88, 0.15, 0.49, 1.05) 300ms;
  text-decoration: none;
  border: none;
  text-decoration-line: none;
  cursor: pointer;
}

.nestedSubMenu:hover{ 
  color: #1e547e;
  transition: cubic-bezier(0.88, 0.15, 0.49, 1.05) 300ms;
  font-weight: 700;
  font-size: 1rem;
}

.lastLevel {
  z-index: 10;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0%;
  position: absolute;
  top: 100%;
  list-style-type: none;
  margin: 0 0px 0 -70px;
  padding: 15px 0;
  width: 210px;
  background-color: #fff;
}

.nestedSubMenu:hover > .lastLevel {
  display: flex;
  left: 120%;
}

.lastLevel li {
  margin: 10px 0;
  cursor: pointer;
}

.lastLevel li:hover {
  color: #1e547e;
}

.link {
  width: 130px;
  height: fit-content;
  background-color: transparent;
  color: #515151;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  transition: cubic-bezier(0.88, 0.15, 0.49, 1.05) 300ms;
  text-decoration: none;
  border: none;
  text-decoration-line: none;
  cursor: pointer;
}

.link:hover {
  color: #1e547e;
  transition: cubic-bezier(0.88, 0.15, 0.49, 1.05) 300ms;
  font-weight: 700;
  font-size: 1.25rem;
  filter: drop-shadow(-1px 6px 20px #1439556f);
}

.normalButton {
  cursor: pointer;
}
