.swiperpia{ 
    width: 40%;
    height: fit-content;
    margin: 0 5%;
}

.swiper-slide {
    width: fit-content;
}

.swiperSlideItem{ 
    width: 450px;
}

.swiperSlideItem > img { 
    width: auto;
    height: 450px;
}

.swiper-button-prev .swiper-button-next{
    color: black;
}

@media screen and (max-width: 1280px) {
    .swiperpia {
      width: 100%;
    }

    .swiperSlideItem > img { 
        width: 80%;
        /* height: 450px; */
        object-fit: cover;
    }
  }